div.title_underLine{
    margin-bottom: 25px;
    text-align: left;

    width: 250px;

    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
}

div.title{
    margin-left: auto;
    margin-right: auto;

    max-width: 700px;
    min-width: 278px;
}

p.title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}


img.pdf{
    margin-bottom: 20px;

    max-width: 700px;
    min-width: 270px;
    width: 100%;

    border: black solid 1px;
}

div.paddingDiv{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: var(--padding-topandbot);
    padding-bottom: var(--padding-topandbot);

}

@media only screen and (max-width: 900px){
    div.paddingDiv{
        padding-left: 0px;
        padding-right: 0px;

    }
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    background-color: #008CBA;
    color: white;
    padding: 3px 16px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 25px;

    text-decoration: none;
    color: initial;
}

a.button:visited{
    color: white;
}

a.button:link{
    color: white;
}

div.button_content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}