:root{
    --padding-topandbot: 4%;
    --padding-sides: 7%;
    --gradient-lr: linear-gradient(140deg,hsla(200, 25%, 35%, 0.75),hsl(177, 52%, 70%));
    --gradient-rl: linear-gradient(140deg,hsl(177, 52%, 70%),hsla(200, 25%, 35%, 0.75));
    --divAnimation: 2s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

h1{
    font-family: sans-serif;
}

.main_flex1{
    background-color: white;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: var(--padding-topandbot);
    padding-bottom: var(--padding-topandbot);
    padding-left: var(--padding-sides);
    padding-right: var(--padding-sides);


    height: 75vh;
    animation: var(--divAnimation);
}

.main_flex2{
    background-image: var(--gradient-lr);

    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding-top: var(--padding-topandbot);
    padding-bottom: var(--padding-topandbot);
    padding-left: var(--padding-sides);
    padding-right: var(--padding-sides);


    height: 30vh;
    animation: var(--divAnimation);
}

div.main_title_Left{
    display: flex;
    flex-direction: column;
    width: clamp(200px, 100%, 600px);
    text-align: left;
    
}

div.main_title_Left{
    display: flex;
    flex-direction: column;
    width: clamp(200px, 100%, 600px);
    text-align: left;
    
}

img.image{
    width: clamp(200px, 100%, 600px);
}

.list{
    list-style-type: none;
    text-align: left;
}