.NavBar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    opacity: 80%;
}

.NavBarToggleDiv{
    transition: margin-left 0.5s;
    text-align: left;
    padding: 16px;
}