.App {
  text-align: center;
}

.NavigationBar{
  z-index: 1;
  width: 20%;
  position: fixed;
}

div.header{
  height: 60px;
  background-image: var(--gradient-rl);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}

div.headerLinks{
  width: 40px;
  margin-right: 6px;
  display: flex;
  justify-content: space-between;
}

a.links{
  color: black;
}


a.links:visited{
  color: black;
}

div.footer{
  height: 60px;
  background-image: var(--gradient-rl);
}

div.mainBody{
  min-height: 85vh;
  height: auto;
  width:100%;
  margin: 0px;
}